body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

label {
    grid-column: span 1;
}

.inputForm, textarea {
    grid-column: span 2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    grid-column: span 3;
}

.register {
    grid-column: span 1;
    background-color: #90ee90;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register:hover {
    background-color: #66bb66;
}

.consult {
    grid-column: span 1;
    background-color: #ffff99;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.consult:hover {
    background-color: #ffcc00;
}

button {
    justify-self: center;
}

body {
    background-color: #90ee90;
}